/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
}

/*variables css*/
:root {
  --bg-calculator: #345;
  --color-title: #cee;
  --bg-display: linear-gradient(180deg, #5f55, #1f14, #0a05);
  --bg-button: linear-gradient(45deg, #0845, #0635, #0525);
}