/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/*variables css*/
:root {
  --color-title: #6f95ff;
  --bg-calculator: #1c0b2b;
  --bg-display: #301c41;
  --bg-button: #413b6b;
  --bg-button-operator: #5c65c0;
}