@media (max-width: 400px) {
  .calculator {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .buttons {
    grid-template-columns: repeat(4, 1fr);
  }

  .buttons button {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {

  .display span {
    font-size: 1.2rem;
  }

  .display .container #accumulator {
    font-size: 1rem;
  }
}