<<<<<<< HEAD
@media (max-width: 800px) {
=======
@media (max-width: 450px) {
>>>>>>> 318f58a959d02a88de21522f4597d717aa60dd62
  .calculator {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 2rem;
  }

  * {
    font-size: 25px;
  }

}

@media (max-width: 650px) {
  * {
    font-size: 22px;
  }
}


@media (max-width: 550px) {

  * {
    font-size: 20px;
  }

}

@media (max-width: 450px) {
  .display {
    height: 15%;
  }

  .display span {
    font-size: 1.5rem;
  }

  .display .container #accumulator {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {

  * {
    font-size: 15px;
  }

  .calculator {
    justify-content: center;
  }

  .buttons {
    flex: 0 0 60%;
    height: 80%;
  }
}

@media (max-width: 300px) {

  .display {
    height: 12%;
  }

  .buttons {
    flex: 0 0 60%;
    height: 70%;
  }
}