* {
  margin: 0;
  box-sizing: border-box;
}

/*root*/
:root {
  /*theme dark*/
  --background-dark: #000;
  --color-dark: #fff;
  --calculator-bg: #7779;
  --display-calculator-bg: #6668;
  --button-number-calculator-bg: #1118;
  --button-operator-calculator-bg: #25252580;
  --button-config-calculator-bg: #2228;
  /*theme light*/
  --background-light: #999;
  --color-light:  #000;
}

.light-theme {
  background: var(--background-light);
  color: var(--color-light);
}

body {
  background: var(--background-dark);
  color: var(--color-dark);
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Consolas;
  position: relative;
}


/*calculator*/
.calculator {
  background-color: var(--calculator-bg);
  box-shadow: 6px 6px 1px #777;
  border:  1px solid #777;
  width: 300px;
  height: 550px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calculator h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-dark-title);
}

.calculator .display {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  background-color: var(--display-calculator-bg);
  overflow-x: hidden;
}

.calculator .display div {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}

.calculator .display .accumulator {
  color:  #f00;
  font-size: 1rem;
}

.calculator .display .expression {
   color:  #0d5;
   font-size: 1.3rem;
 }

.calculator .buttons {
  margin: 0 auto;
  min-width: 100%;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
}

.calculator .buttons .button {
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: inherit;
}

.calculator .buttons .button:hover {
  cursor: pointer;
}

.calculator .buttons .button:active {
  background-color: #ddd;
  color: #000;
}

.calculator .button.number {
  background-color: var(--button-number-calculator-bg);
}

.calculator .button.operator {
  background-color: var(--button-operator-calculator-bg);
}

.calculator .button.config {
  background-color: var(--button-config-calculator-bg);
}

.calculator #equal {
  grid-row: 3/6;
  grid-column: 4;
}

#btn-change-theme {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

#btn-change-theme {
  border: none;
  background: none;
  font-size: 1.5rem;
}

#btn-change-theme:hover {
  cursor: pointer;
  filter:  brightness(150%);
}

#btn-change-theme:active #light {
  color: #fff;
}

#btn-change-theme:active #dark {
  color: #000;
}

#btn-change-theme #light {
  color: #fa0;
  text-shadow: 1px 1px 10px #fa0;
}

#btn-change-theme #dark {
  color: #05f;
}

.invisible {
  display: none;
}
