
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*define variables css*/
:root {
    /*dark theme*/
    --bg-dark: #000;
    --text-dark: #ddd;
    --bg-calculator-dark: #353535;
    --title-dark: #bbb;
    --operator-dark: #aaa;
    --bg-display-dark: #151515;
    --bg-buttons-dark: #000;
    --bg-operations-dark: #111;
    --equal-dark: #0a6; 
    --btn-theme-dark: transparent;
    /*light theme*/
    --bg-light: #bbb;
    --text-light: #000;
    --bg-calculator-light: #888;
    --title-light: #222;
    --operator-light: #333;
    --bg-display-light: #aaa;
    --bg-buttons-light: #999;
    --bg-operations-light: #777;
    --equal-light: #5f7;
    --btn-theme-light: #222;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*style for button that it change the page theme*/
#themes-container {
    position: absolute;
    top:0;
    right:0;
    margin:10px;
    display: flex;
    border-radius: 20px;
}

#themes-container .icon-theme {
    padding:10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #aaa;
    transition: .5s;
    background: var(--btn-theme-dark);
}

#themes-container .icon-theme#light:hover,
#themes-container .icon-theme#dark:hover {
    color: #000;
}

#themes-container #light {
    border-right-width: 1px;
    color: #fd0;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

#themes-container #light:hover {
    background: #fd0;
}

#themes-container #dark {
    border-left-width: 1px;
    color: #0ff;
    border-radius: 0 20px 20px 0;
}

#themes-container #dark:hover {
    background: #0ff;
}

/*style to calculator and your components*/
#calculator {
    width: 400px;
    border-radius: 5px;
    padding:2rem 1.5rem;
    background: var(--bg-calculator-dark)
}

#calculator h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--title-dark);
}

/*display*/
#calculator #display {
    background: var(--bg-display-dark);
    margin: 1rem 0;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding:1rem;
    display: grid;
    grid-template-areas: 
        "accumulator operator"
        "number      operator";
    grid-template-columns: 1fr 20px;
    align-items: center;
}

#calculator #display #accumulator,
#calculator #display #number{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#calculator #display #accumulator {
    grid-area: accumulator;
    font-size: 1.1rem;
}

#calculator #display #number {
    grid-area: number;
    font-size: 2rem;
}

#calculator #display #operator {
    grid-area: operator;
    font-size: 2rem;
    color: var(--operator-dark);
    margin-left:5px;
}

/*buttons container css*/
#calculator #buttons-container {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

#calculator #buttons-container button{
    height: 70px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 2px solid #aaa;
    color: var(--text-dark);
    background: var(--bg-buttons-dark);
}

#calculator #buttons-container button.operation {
    background: var(--bg-operations-dark);
}

#calculator #buttons-container button:active,
#calculator #buttons-container #equal:active {
    background-color: #fff;
    color: #000;
}

#calculator #buttons-container #equal {
    grid-column: 2 span;
    background-color: var(--equal-dark);
}

/*body in light-theme*/
body.light {
    background-color: var(--bg-light);
    color: var(--text-light);
}

//container's button for changing theme
#themes-container.light #dark,
#themes-container.light #light {
    background-color: var(--btn-theme-light);
}

/*calculator in light-theme*/
#calculator.light {
    background: var(--bg-calculator-light);
}

#calculator.light h1 {
    color: var(--title-light);
}

/*display in light-theme */
#calculator.light #display {
    background: var(--bg-display-light);
}

#calculator.light #display #operator {
   color: var(--operation-dark);
}

#themes-container.light #dark,
#themes-container.light #light {
    background: var(--btn-theme-light);
}

#themes-container.light #light:hover{
    background: #fd0;
}

#themes-container.light #dark:hover{
    background: #0ff;
}

/*buttons in light-theme*/
#calculator.light #buttons-container button{
    background: var(--bg-buttons-light);
    color: var(--text-light);
}

#calculator.light #buttons-container button:active,
#calculator.light #buttons-container #equal:active{
    background-color: #fff;
    color: #000;
}

#calculator.light #buttons-container .operation {
    background: var(--bg-operations-light);
}

#calculator.light #buttons-container #equal {
    background-color: var(--equal-light);
}